html {
    height: 100vh;
}

body {
    height: 500vh;
    background: #ffffff;
}

canvas {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    z-index: -1;
    max-width: 500px;

    /* Place the canvas behind other elements */
}

@media (min-width: 576px) {
    canvas {
        max-width: 850px;
    }
}

@media (min-width: 768px) {
    canvas {
        max-width: 1000px;
    }
}

@media (min-width: 992px) {
    canvas {
        max-width: 1400px;
    }
}
  
  